<!-- 
Client-side page

The client doesnt actually interact with the kahoot api or kahoot, it instead
just communicates with the node.js server.

-->
<!DOCTYPE HTML>
<html>
  
  <head>
    <script src="socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="script.js"></script>
    <link ref="stylesheet" src="style.css">
    <link ref="icon" type="image/png" src="favicon.ico">
    <title>Kahot - The alternative Kahoot client</title>
  </head>
  
  <body>
    
  </body>
  
</html>