/*
this is the default css for glitch. 
i think it looks pretty nice so i kept it
*/

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
  background:#42c4de;
  animation:Kahot 14s infinite;
  animation-direction:alternate;

}

h1 {
  font-style: italic;
  color: #373fff;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}

form {
  background-color: #eee;
  /*display: grid;*/
  grid-gap: 1em;
  padding: 1em;
  max-width: 40ch;
}

input {
  border: 1px solid silver;
  display: inline;
  font-size: 16px;
  /*margin-bottom: 10px;*/
  padding: 5px;
  width: 100%;
}

form button {
  border: 1px solid silver;
  display: inline;
  font-size: 16px;
  /*margin-bottom: 10px;*/
  padding: 5px;
  width: 100%;
}

form button:hover {
  background-color: lavender;
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}


@keyframes Kahot{25%{background:#41c4de;}50%{background:#8cc73f;}75%{background:#f3d333;}100%{background:#f78e56;}}

#gamecode {
  display:block;
  position:absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#nickname {
  display:block;
  position:absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.error {
  display:block;
  color:red;
  text-align:center;
  font-size:12px;
  padding-top:5px;
  padding-bottom:5px;
}
#loading {
  display:block;
  position:absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width:200px;
  height:80px;
  background-color: #eee;
  /*display: grid;*/
  grid-gap: 1em;
  padding: 1em;
  max-width: 40ch;
}
#loadingImg {
  position:absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#loadingMessage{
  position:absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index:3;
  color:green;
  width:200px;
}